<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade" id="paste-tab-pane" role="tabpanel" aria-labelledby="paste-tab" tabindex="0">
    <%= render 'paste_form' %>
  </div>
  <div class="tab-pane fade show active" id="preview-tab-pane" role="tabpanel" aria-labelledby="preview-tab" tabindex="0">
    <%= form_tag '/change' do %>
        <%= label_tag :theme, "Change theme:" %>
        <%= select_tag "theme", options_for_select([ "base16.light", "base16.dark", "base16.monokai.light", "base16.monokai.dark", "base16.solarized.light", "base16.solarized.dark", "colorful", "github", "gruvbox.light", "gruvbox.dark", "igorpro", "molokai", "monokai", "monokai.sublime", "pastie", "thankful_eyes", "tulip"], @theme) %>
        <%= hidden_field_tag :file_name, @file_name %>
        <%= hidden_field_tag :lang, @lang %>
        <%= submit_tag "Send" %>
    <% end %>
    <h1>Selected theme: <%= @theme %></h1>
    <div style="display:block;width:800px;">
        <%= raw(@first_block) %>
        <%= raw(@second_block) %>
        <%= raw(@final_block) %>
    </div>
  </div>
  <div class="tab-pane fade" id="copy-tab-pane" role="tabpanel" aria-labelledby="copy-tab" tabindex="0">
    <textarea rows="20" cols="80">
        <%= @first_block %>
        <%= @second_block %>
        <%= @final_block %>
    </textarea>  
  </div>
</div>
