<h1>Codice da copiare:</h1>
<h3><a href="/">Back</a></h3>

<textarea rows="20" cols="80">
<%= @first_block %>
<%= @second_block %>
<%= @final_block %>
</textarea>
<h1>Output:</h1>
<%= raw(@first_block) %>
<%= raw(@second_block) %>
<%= raw(@final_block) %>
