<div class="tab-content" id="myTabContent">
  <%= render 'info_tab' %>
  <%= render 'paste_tab' %>
  <div class="tab-pane fade show active" id="preview-tab-pane" role="tabpanel" aria-labelledby="preview-tab" style="padding:100px" tabindex="0">
    <b>Selected theme: <%= @theme %></b>
    <%= form_tag '/create' do %>
        <%= label_tag :theme, "Change theme:" %>
        <%= render 'theme_select' %>
        <%= hidden_field_tag :codice, @source %>
        <%= hidden_field_tag :lang, @lang %>
        <br />
        <%= submit_tag "Change theme", :class =>"w-100 btn btn-lg btn-primary" %>
    <% end %>
    <br />
    <div style="display:block;width:100%;"><%= raw(@first_block) %><%= raw(@second_block) %><%= raw(@final_block) %></div>
  </div>
  <div class="tab-pane fade" id="copy-tab-pane" role="tabpanel" aria-labelledby="copy-tab" style="padding:100px" tabindex="0">
    <textarea rows="20" class="form-control"><%= @first_block %><%= @second_block %><%= @final_block %>
    </textarea>  
  </div>
</div>
